<html>
    <script>
        function refresh() {
            window.location.reload();
        }
    </script>
    <body>
        <form action = "/K-means" method = "POST" enctype="multipart/form-data" enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form>
        <form action="/Ostu" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" />
        </form>          
    </body>
</html>